body {
    background: darkslateblue;
    color: gold;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background: slateblue;
    color: black;
    padding: 10px;
}

main {
    height: 100%;
}

footer {
    background: slateblue;
    color: black;
    padding: 10px;
    margin-top: auto;
}

.navigation {
    text-align: center;
}

#book {
    border: none;
    height: 100%;
    width: 100%;
}
